{% extends "base.html" %}


{% block title %} Home - Flower Shop {% endblock %}

{% block content %}

  <body>
    <main>
      <form action="{{ url_for('add_to_cart' )}}" method="post">
        <fieldset>
          <legend for="flower">Select Flower</legend>
          <select name="flower" id="flower">
            {% for flower, details in flowers.items() %}
            <option value="{{ flower }}">{{ flower }} - ${{ details['price'] }}</option>
            {% endfor %}
          </select>
          <label for="quantity">Quantity</label>
          <input type="number" name="quantity" value="1" min="1">
          <button type="submit">Add to cart</button>
        </fieldset>
      </form>
      <form action="{{ url_for('select_addon') }}" method="post">
        <fieldset>
          <legend>Add-ons</legend>
          {% for addon, data in addons.items() %}
            <label>
              <input type="checkbox" name="addons" value="{{ addon }}">
              {{ addon }} (${{ data.price }})
            </label>
          {% endfor %}  
              <button type="submit">Add to cart</button>
        </fieldset>
      </form>
      {% with messages = get_flashed_messages () %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}  
          </ul>
        {% endif %}
      {% endwith %} 
      <div class="total-cart">
        <fieldset class="total-form"> 
          <legend>Your Cart</legend>
          {% if cart %}
              <ul>
                {% for item, details in cart.items () %}
                  <li>{{ item }}: {{ '%.2f' % details['quantity'] }} x
                                              ${{ details['price'] }}
                      = ${{ details['quantity'] * details['price'] }}
                      <a href="{{ url_for('remove_from_cart', item=item) }}">[Remove]</a>                                        
                  </li>
                {% endfor %}
              </ul>
            {% endif %}  
            {% if not cart and not selected_addons %}
                <p class="cart-empty">Your cart is empty</p>
            {% endif %}
            <div class="flower-subtotal">
              <p>Flower Subtotal: ${{ "%.2f" % flower_subtotal }}</p>
            </div>
            {% if selected_addons %}
              <ul>  
                {% for item, details in selected_addons.items () %}
                  <li>{{ item }}: {{ '%.2f' % details['quantity'] }} x
                                              ${{ details['price'] }}
                      = ${{ details['quantity'] * details['price'] }}
                      <a href="{{ url_for('remove_from_selected_addons', item=item) }}">[Remove]</a>       
                    </li>
                {% endfor %}
              </ul>
                    
            {% endif %}  
            <div class="addon-subtotal">
              <p>Addon Subtotal: ${{ "%.2f" % addon_subtotal }}</p>
              <hr>
            </div>  
          <h4>Total: ${{ "%.2f" % total}}</h4>
        </fieldset>
      </div>    
    </main>    
  </body>

{% endblock %}